body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  padding: 15px;
}